

.container {
    background-color: transparent;
    width: 80%;
    height: auto;
    margin: 2em auto;
}

h2{
    margin-bottom: -2em;
    color: white;
}

.planes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5em;
    
}

.estandar{
    background-color: rgb(148, 57, 57);
    height: 20em;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
    align-items: center;
    border-radius: 1em;
}

.personalizado{
    background-color: rgb(133, 65, 65);
    height: 20em;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
    align-items: center;
    border-radius: 1em;
}

select {
    border-radius: 1em;
    outline: none;
    width: 12em;
}

.beneficios {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 6em;
}

.planes  button {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 12em;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: white;
    margin: 1.5em 0;
}

.planes button:hover {
    background-color: rgb(150, 87, 87);
}


h2 {
    padding: 1.5em 0;
}