<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Agregar Producto</title>
    <link rel="shortcut icon" href="/Images/pesasShorcut.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body style="font-family: Poppins, sans-serif; font-weight: 300; font-style: normal;">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #d9d9d9">
        <div class="container">
            <a class="navbar-brand" th:href="@{/administrador/tiendaProductos}">
                <img src="/Images/mancuerdag.svg" alt="logo" width="108px" height="112px">
            </a>
            <div class="mt-4" >
                <h1>Sport Gym</h1>
                <p class="nav-item text-dark">
                    <span sec:authentication="principal.username" class="d-flex align-items-center"></span>
                </p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto d-flex align-items-end">

                    <button class="nav-item active border-0 ms-2" style="background-color: rgba(20,135,229,0.42);" ><a class="nav-link text-dark" th:href="@{/administrador/tiendaProductos}">Tienda</a></button>
                    <button class="nav-item border-0 ms-2" style="background-color: rgba(20,135,229,0.42)"><a class="nav-link text-dark" th:href="@{/administrador/listarCategorias}">Categorias</a></button>
                    <button class="nav-item border-0 ms-2" style="background-color: rgba(20,135,229,0.42)"><a class="nav-link text-dark" th:href="@{/administrador/seguimientoPrestamos}">Préstamos</a></button>
                    <div class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                        <img src="/Images/salir.svg" alt="Imagen Cerrar Sesión" style="width: 30px">
                    </a></div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" th:if="${success != null}">
        <label th:text="${success}"></label>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>

</header>

<div class="container">
    <div class="mt-5">
        <div class="text-center h3 font-weight-bold mb-4" th:text="${titulo}"></div>
        <div class="card shadow-sm">
            <div class="card-body">

                <form th:object="${producto}" th:action="@{/administrador/guardarProducto}" method="post">

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input type="hidden" th:field="*{id}">
                            <label class="form-label h5" for="nombreProducto">Nombre del producto:</label>
                            <input type="text" th:field="*{nombreProducto}" class="form-control" id="nombreProducto" placeholder="Nombre del Producto" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label h5" for="precio">Precio:</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" th:field="*{precio}" class="form-control" id="precio" placeholder="Precio" required>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label h5" for="cantidad">Cantidad:</label>
                            <input type="number" th:field="*{cantidad}" class="form-control" id="cantidad" placeholder="Cantidad" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label h5" for="imagen">URL de la Imagen:</label>
                            <input type="text" th:field="*{imagen}" class="form-control" id="imagen" placeholder="URL de la Imagen" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label h5" for="categoria">Categoría:</label>
                        <div class="input-group">
                            <select th:field="*{catProductos}" class="form-select" id="categoria" style="background-color: #b9b9b9">
                                <option value="">Seleccione una categoría</option>
                                <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nombre}"></option>
                            </select>

                            <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/administrador/nuevaCategoria'">
                                <img src="/Images/CreateCategory.svg" alt="Crear nueva categoría" style="width: 20px; height: 20px;">
                            </button>
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <button type="submit" class="btn btn-primary" style="border-radius: 5vh;">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/Scripts/Switch.js"></script>
</body>
</html>