<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Suscripciones</title>
    <link rel="shortcut icon" href="/Images/pesasShorcut.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="font-family: Poppins, sans-serif; font-weight: 300; font-style: normal; background-color: #1dbbbb ">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #EDEFF0">
        <div class="container">
            <a class="navbar-brand" th:href="@{/cliente/panelPrincipal}">
                <img src="/Images/mancuerdag.svg" alt="Imagen de Sport Gym" th:width="108px" th:height="112px">
            </a>
            <div class="mt-4" >
                <h1>Sport Gym</h1>
                <p class="nav-item text-dark">
                    <span sec:authentication="principal.username" class="d-flex align-items-center"></span>
                </p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto d-flex align-items-end">

                    <button class="nav-item active border-0 ms-2" style="background-color: rgba(20,135,229,0.42);" ><a class="nav-link text-dark" th:href="@{/cliente/panelPrincipal}">Tienda
                    </a></button>
                    <button class="nav-item active border-0 ms-2" style="background-color: rgba(20,135,229,0.42);" ><a class="nav-link text-dark" th:href="@{/cliente/suscripcion}">Suscripcion
                    </a></button>
                    <button class="nav-item active border-0 ms-2" style="background-color: rgba(20,135,229,0.42);" ><a class="nav-link text-dark" th:href="@{/cliente/carrito}">Carrito
                    </a></button>

                    <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                        <img src="/Images/salir.svg" alt="Imagen Cerrar Sesión" style="width: 30px">
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" th:if="${success != null}">
        <label th:text="${success}"></label>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" th:if="${error != null}">
        <label th:text="${error}"></label>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" th:if="${warning != null}">
        <label th:text="${warning}"></label>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>

</header>

<div class="container text-center mt-5">
    <h4 th:text="${titulo}"></h4>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="row">
        <!-- Primera tabla -->
        <div class="col-md-6">
            <div class="container mt-5">
                <h2 class="text-center">Basico</h2>
                <div class="mb-3">
                    <input type="text" id="precio" name="precio" th:value="${precio}" class="form-control" />
                </div>
                <div class="mb-3">
                    <select id="duracion" name="duracion" class="form-select">
                        <option value="1">Semanal</option>
                        <option value="2">Mensual</option>
                        <option value="3">Trimestral</option>
                        <option value="4">Semestral</option>
                        <option value="5">Anual</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" id="accesoGimnasio" name="accesoGimnasio" value="Acceso al gimnasio" readonly="readonly" class="form-control" />
                </div>
                <!-- Botón de Comprar -->
                <button type="button" class="btn btn-primary d-block mx-auto">Comprar</button>
            </div>
        </div>

        <!-- Segunda tabla -->
        <div class="col-md-6">
            <div class="container mt-5">
                <h2 class="text-center">Personalizado</h2>
                <div class="mb-3">
                    <input type="text" id="precio1" name="precio" th:value="${precio}" class="form-control" />
                </div>
                <div class="mb-3">
                    <select id="duracion1" name="duracion" class="form-select">
                        <option value="1">Semanal</option>
                        <option value="2">Mensual</option>
                        <option value="3">Trimestral</option>
                        <option value="4">Semestral</option>
                        <option value="5">Anual</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" id="accesoGimnasio1" name="atencion personalizado" value="atencion personalizada" readonly="readonly" class="form-control" />
                </div>
                <!-- Botón de Comprar -->
                <button type="button" class="btn btn-primary d-block mx-auto">Comprar</button>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/Scripts/Suscripciones.js"></script>
</body>
</html>